{% load static %}
{% load active_link_tags %}

<!DOCTYPE html>

<html style = "background: none;">

	<head>
		<title>Bennett Kahn</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Favicon-->
		<link rel="shortcut icon" type="image/png" href="{% static 'assets/img/headshot-1.png' %}" />
	  
		<!-- Import stylesheet... -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

		<link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>

	</head>

	<body>
		<!-- Navbar stuff -->
		<div class="header">
			<div class="navbar-ul">
				<li id="projects-item" class="navbar-item">
					<a class="main-page-link {% active_link 'main:projects'%}"><strong>Projects</strong></a>
					<div id="projects-item-dropdown">
						<a href="{% url 'main:tulane' %}" class="main-page-link {% active_link 'main:tulane'%}"><strong>Tulane</strong></a>
						<a href="{% url 'main:professional' %}" class="main-page-link {% active_link 'main:professional'%}"><strong>Professional</strong></a>
						<a href="{% url 'main:hobby' %}" class="main-page-link {% active_link 'main:hobby'%}"><strong>Hobby</strong></a>
						<a href="{% url 'main:extracurricular' %}" class="main-page-link {% active_link 'main:extracurricular'%}"><strong>Extracurricular</strong></a>
					</div>
				</li>

				<li class="navbar-item">
					<a href="{% url 'main:home' %}" class="main-page-link {% active_link 'main:home'%}"><strong>Home</strong></a>
				</li>

				
			</div>
		</div>

		{% block content %} {% endblock %}
		

		<footer class="footer">
			<p> Contact Info: <br>
			 Email: bennettkahn101@gmail.com <br>
			 Mobile: (504) 452-5627 </p>
		</footer>
	</body>


</html>