<!DOCTYPE html>
{% extends "./base.html" %}
{% load static %}
{% load active_link_tags %}

<html style = "background: none;">
	{% block content %}

	
	<head>
		<link rel="stylesheet" href="{% static 'assets/css/projects_styles.css' %}">

	</head>
	<div class="content" id="projects-page-main-container">

		<div class="center-content" id="pursuit-top">
			<div id="projects-top-left">
				<h1>Professional Projects</h1>
			</div>

		</div>


		<div class="subsection-div-main">
			<h1> Projects </h1>

			<div id="projects-container">

				<div class="project prof-project" id="ising-proj">
					<h3> National Security Agency Internship: <br> Machine Learning on the <br> Reverse Ising Problem </h3>
				</div>

				<div class="project prof-project" id="press-proj">
					<h3> Press Release Schedule <br> Optimization </h3>
				</div>

				<div class="project prof-project" id="securities-analysis-proj">
					<h3> Securities Class Action <br> Stock Analysis </h3>
				</div>


			</div>
		</div>

		<div class="subsection-div-main">
			<h1> About </h1>


			<div id="about-div">

				<div class="project-about-div" id="cwn-about">
					<h3> Description: </h3>
					<div class="main-about-text">
						<p>For my senior capstone project (completed as a junior), I was part of a team that created an internal-facing data dashboard that allows Court Watch Nola, a New Orleans-based non-profit, to efficiently query their data and create customizable visualizations. </p>

						<p><a href="https://www.courtwatchnola.org">Court Watch NOLA</a> (CWN) is a non-profit organization located in New Orleans, Louisiana that is "dedicated to promoting transparency, equity, and justice through tracking, observing, and reporting thousands of criminal court cases a year." CWN sends well-trained observers into court sessions of all three Orleans Parish court systems (Magistrate, Criminal District Court, and Municipal). These observers fill out court-specific surveys, which are then uploaded to a popular survey data collection website. </p>
					</div>

					<h3> Awards/Recognitions: </h3>

					<p> 1st Place Crowd Favorite, 2022 Tulane School of Science and Engineering Activities Expo (SSE Expo)--a yearly venue in which all capstone groups show off their projects. </p>



					<h3> The Results: </h3>

					<p> The below video is a demonstration of our dashboard. We used this exact video at the SSE Expo</p>

					<iframe id="cwn-video" width="560" height="315" src="https://www.youtube.com/embed/K3RSja-DPeY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>

				<div class="project-about-div" id="ising-about">
					<h3> Description: </h3>
					<div class="main-about-text">
						<p>During my participation in the 2022 Future Computing Summer Internship with the National Security Agency, I was part of a team conducting research into the use of machine learning for classifying and generating <i>auxillary arrays</i> for the <i>Reverse Ising Problem</i>. We used discriminatory machine learning models to classify candidate auxillary arrays as either feasible (i.e. a representation that leads to an Ising Circuit that is computationally accurate), or infeasible; we used generative machine learning models--trained on feasible auxillary arrays found by other methods--to generate additional feasible arrays; additionally, we used reinforcement machine learning to teach an agent how to discover feasible arrays. </p>

					</div>

					<h3> The Results: </h3>
					<div class="main-about-text">
						<p>At the end of the summer, our research team documented all of our findings in a final report. My main contributions to the project included (but were not limited to) 1) the development of Generative Adverserial Networks (GANs) to generate feasible auxillary arrays and 2) the development of a novel reinforcement learning approach for discovering auxillary arrays (Sections 3.1.1 and 3.3, respectively). View it below or <a href="{% static 'assets/files/IsingFinalReport.pdf' %}" download>download it</a>.</p>
					</div>
					<iframe id="ising-iframe" class="center-content" src="{% static 'assets/files/IsingFinalReport.pdf' %}"></iframe>
				</div>


				<div class="project-about-div" id="press-about">
					<h3> Description: </h3>
					<div class="main-about-text">
						<p> It is commonplace for plaintiff law firms to regularly issue press releases. For one local law firm, I have been hired to build a press release management and optimization software to manage a $1 million dollar budget. </p>

						<p> The firm uses several different national wire services to issue press releases involving cases against publicly traded companies. These releases have budgetary constraints that must comply with each wire service's set of rules, including release frequency, quantity, etc. The budget and the service rules add dozens of constraints that make manually finding the optimal schedule impossible. In a business where any press release has the potential to attract a valuable client, maximizing the number of press releases according to these constraints is invaluable. </p>

						<p> This scheduling problem can be represented as a <a href="https://en.wikipedia.org/wiki/Constraint_satisfaction_problem">Constraint Satisfaction Problem</a> (CSP). As such, I have implemented a constraint model to maximize the <i>Egalitarian Welfare</i> of the firm's active cases' press releases (i.e. an algorithm that, given active cases and deadlines, maximizes the minimum occuring case). Currently, I am in the process of building a supporting Django web application to support the user side and data processing requirements of a practical solution to the problem. </p>
					</div>
				</div>


				<div class="project-about-div" id="securities-analysis-about">
					<h3> Description: </h3>
					<div class="main-about-text">
						<p>  Companies are always getting sued for fraudulent behavior regarding the manipulation of their stock prices in what are known as securities class action lawsuits. A common investing adage is "buy low, sell high." Quite often, law suits against a company of any sort have a negative affect on stock prices. I wondered, then, do enough investors buy stock in these sued companies to eventually increase the stock? What are the trends? In the below notebook, I investigated this theory as a side project.</p>
					</div>
					<h3> The Results: </h3>

					<div class="main-about-text"><p> My analysis is available at <a href="https://bennettkahn.github.io/SecuritiesAnalysis/">this webpage</a>. Visit the page or scroll through it below. </p></div>

					<iframe id="securities-webpage" src="https://bennettkahn.github.io/SecuritiesAnalysis/"></iframe>

				</div>

				
			</div>


		</div>



	</div>

	{% block javascript %}
	<script>

		$(document).ready(function () {
			$("#about-div").find("div.project-about-div").hide(); // hide all project abouts
			$("#ising-about").show();
			$("#ising-proj").addClass("blue-hover");
		});


		$("#ising-proj").click(function () {
			$("div.project").removeClass("blue-hover");
			$("#about-div").find("div.project-about-div").hide(); // hide all project abouts
			$("#ising-about").show();
			$("#ising-proj").addClass("blue-hover");

		});

		$("#press-proj").click(function () {
			$("div.project").removeClass("blue-hover");
			$("#about-div").find("div.project-about-div").hide(); // hide all project abouts
			$("#press-about").show();
			$("#press-proj").addClass("blue-hover");

		});


		$("#securities-analysis-proj").click(function () {
			$("div.project").removeClass("blue-hover");
			$("#about-div").find("div.project-about-div").hide(); // hide all project abouts
			$("#securities-analysis-about").show();
			$("#securities-analysis-proj").addClass("blue-hover");

		});




	</script>

	{% endblock javascript %}


	{% endblock %}
</html>

