<!DOCTYPE html>
{% extends "./base.html" %}
{% load static %}
{% load active_link_tags %}

<html style = "background: none;">
	{% block content %}

	
	<head>
		<link rel="stylesheet" href="{% static 'assets/css/projects_styles.css' %}">

	</head>
	<div class="content" id="projects-page-main-container">

		<div class="center-content" id="pursuit-top">
			<div id="projects-top-left">
				<h1>Academic Projects</h1>
			</div>

		</div>


		<div class="subsection-div-main">
			<h1> Projects </h1>

			<div id="projects-container">
				<div class="project school-project" id="cwn-proj">
					<h3> Court Watch Nola <br> Data Dashboard </h3>
				</div>

				<div class="project school-project" id="dockets-proj">
					<h3> Orleans Parish Court <br> and Police Data <br> Analysis </h3>
				</div>

				<div class="project school-project" id="dreamcatcher-proj">
					<h3> DreamCatcher Website </h3>
				</div>

			</div>
		</div>

		<div class="subsection-div-main">
			<h1> About </h1>


			<div id="about-div">

				<div class="project-about-div" id="cwn-about">
					<h3> Description: </h3>
					<div class="main-about-text">
						<p>For my senior capstone project (completed as a junior), I was part of a team that created an internal-facing data dashboard that allows Court Watch Nola, a New Orleans-based non-profit, to efficiently query their data and create customizable visualizations. </p>

						<p><a href="https://www.courtwatchnola.org">Court Watch NOLA</a> (CWN) is a non-profit organization located in New Orleans, Louisiana that is "dedicated to promoting transparency, equity, and justice through tracking, observing, and reporting thousands of criminal court cases a year." CWN sends well-trained observers into court sessions of all three Orleans Parish court systems (Magistrate, Criminal District Court, and Municipal). These observers fill out court-specific surveys, which are then uploaded to a popular survey data collection website. </p>
					</div>

					<h3> Awards/Recognitions: </h3>

					<p> 1st Place Crowd Favorite, 2022 Tulane School of Science and Engineering Activities Expo (SSE Expo)--a yearly venue in which all capstone groups show off their projects. </p>



					<h3> The Results: </h3>

					<p> The below video is a demonstration of our dashboard. We used this exact video at the SSE Expo</p>

					<iframe id="cwn-video" width="560" height="315" src="https://www.youtube.com/embed/K3RSja-DPeY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>

				<div class="project-about-div" id="dockets-about">
					<h3> Description: </h3>
					<div class="main-about-text">
						<p>For my <a href="https://nmattei.github.io/cmps3160/">Introduction to Data Science class</a> (Fall 2021 semester), my partner and I conducted a semester-long project analyzing over 10,000 publicly available Orleans Parish court dockets. Ultimately, we discovered possible biases in the Orleans Parish court system, such as 400-500% higher bond prices for Black people for several charges (when compared against other races). </p>
					</div>

					<h3> Awards/Recognitions: </h3>

					<div class="main-about-text"><p> Final project grade in the 95th percentile for the entire class. </p></div>

					<h3> The Results: </h3>

					<div class="main-about-text"><p> Our entire project is publicly available at <a href="https://bennettkahn.github.io/dataScienceFinalProject/">this webpage</a>. Visit the page or scroll through it below. </p></div>

					<iframe id="dockets-webpage" src="https://bennettkahn.github.io/dataScienceFinalProject/"></iframe>
				</div>

				<div class="project-about-div" id="dreamcatcher-about">
					<h3> Description: </h3>
					<div class="main-about-text">
						<p>  For my Software Studio class (Fall 2021), our semester long project was to build a website using Ruby on Rails. My group built DreamCatcher, a website that allows people to input and track their dreams, as well as explore others' dreams.</p>

						<p>DreamCatcher is a complete SQL Database-backed website that allows for profile creation and login/logout functionality. Once a user has created their profile, they can enter new dreams from the "New Dream" page; here, they can mark the dream as "Public" or "Private." All dreams marked public are shown on the "Explore" page, making DreamCatcher a dream social media of sorts. DreamCatcher also supports searching--users can enter a phrase in the search bar to search for all public dreams matching their search phrase. </p>
					</div>
					<h3> The Results: </h3>
					<div class="main-about-text">
						<p> The website is publicly available <a href="https://dream-catcher-1.herokuapp.com">here</a>. Visit it, make a profile, and start tracking your dreams. </p>

					</div>

				</div>

				
			</div>


		</div>



	</div>

	{% block javascript %}
	<script>

		$(document).ready(function () {
			$("#about-div").find("div.project-about-div").hide(); // hide all project abouts
			$("#cwn-about").show();
			$("#cwn-proj").addClass("blue-hover");
		});

		$("#cwn-proj").click(function () {
			$("div.project").removeClass("blue-hover");
			$("#about-div").find("div.project-about-div").hide(); // hide all project abouts
			$("#cwn-about").show();
			$("#cwn-proj").addClass("blue-hover");

		});

		$("#dockets-proj").click(function () {
			$("div.project").removeClass("blue-hover");
			$("#about-div").find("div.project-about-div").hide(); // hide all project abouts
			$("#dockets-about").show();
			$("#dockets-proj").addClass("blue-hover");

		});

	
		$("#dreamcatcher-proj").click(function () {
			$("div.project").removeClass("blue-hover");
			$("#about-div").find("div.project-about-div").hide(); // hide all project abouts
			$("#dreamcatcher-about").show();
			$("#dreamcatcher-proj").addClass("blue-hover");

		});

	</script>

	{% endblock javascript %}


	{% endblock %}
</html>

